<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>mp3</string>
		<key>musicName</key>
		<string>背对背拥抱</string>
		<key>singerName</key>
		<string>林俊杰</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mp3</string>
		<key>musicName</key>
		<string>偶阵雨</string>
		<key>singerName</key>
		<string>梁静茹</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mp3</string>
		<key>musicName</key>
		<string>情非得已</string>
		<key>singerName</key>
		<string>童声</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mp3</string>
		<key>musicName</key>
		<string>平凡之路</string>
		<key>singerName</key>
		<string>朴树</string>
	</dict>
	<dict>
		<key>type</key>
		<string>mp3</string>
		<key>musicName</key>
		<string>于归</string>
		<key>singerName</key>
		<string>小曲儿</string>
	</dict>
</array>
</plist>
